* {
    box-sizing: border-box;
}
h1 {
	text-align: center;
	font-family: Helvetica;
	font-style: italic;
}
.box {
	font-style: italic;
	font-family: "Times New Roman";
	text-align: center;
	width: 130px;
	border: 2px solid black;
	float: right;
	margin: 0px;
	position: relative;
 	top: 10px;
 	right: 10px;
} 
.box_1 {
	background-color: #d59898;
}
.box_2 {
	background-color: #c14543;
	color: white;
}
.box_3 {
	background-color: #e5d198; 	
}
.text {
	border: 2px solid black;
	margin: 10px;
	height: 150px;
	padding: 15px;
	background-color: #999999;
	padding-top: 40px;
}
.row {
  width: 100%;
}

@media (min-width: 992px) {
	.large-3{
		float: left;
		width: 33.3%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.medium-2 {
		float: left;
		width: 50%;
	}
	.medium-1 {
		width: 100%;
		clear: both;
	}
	.box_3 {
		position: relative;
	 	top: 0px;
	 	right: 10px;
	}
}

@media (max-width: 767px) {
	.small-1 {
		width: 100%;
	}
	.box_3, .box_2, .box_1 {
		position: relative;
	 	top: 0px;
	 	right: 10px;
	}
}
